footer {
    text-align: center;
    padding: 1rem;
    background-color: #D25D09;
    color: #fff;
    font-size: 0.9rem;
}

footer a{
    text-decoration: none;
    color: black;
}

.links {
    list-style: none; /* Remove os marcadores (pontos) */
    padding: 0; /* Remove o padding padrão */
    margin: 0; /* Remove a margem padrão (opcional) */
}

