#comida {
    width: 100vw;
}

/* #terraco{ */
/* border-radius: 50%; */
/* } */




main {
    background-color: #000000;
    color: #f8f8f8;
    padding-bottom: 4rem;
}


.destaque {
    font-style: italic;
    margin: 2rem auto;
    max-width: 600px;
    line-height: 1.8;
}

.servicos {
    background-color: #a1a1a1;
    padding: 1.5rem;
    border-radius: 8px;
    margin: auto;
    max-width: 500px;
}

.servicos ul {
    list-style-type: none;
    padding: 0px;
}

.servicos li {
    margin: 0.8rem 0;
}