header{
    width: 100vw;
    display: flex; 
}

.container-preto{
    flex-grow: 1;
    background-color: black;
    height: 300px;
}
.container-preto img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.navegacao{
    display: flex;
    justify-content: center;
    /* align-items: ; */

    /* text-align: center; */
    /* justify-items: center;
    justify-content:; */
}
#comida{
    width: 100vw;
}
#terraco{
    /* border-radius: 50%; */
}


.navegacao a{
    color: #f40;
    text-decoration: none;
}

